---
layout: default
title: Home
---

<p>A software developer passionate about artificial intelligence</p>

<p><a href="https://twitter.com/mickrideout">Twitter</a><br />
<a href="https://www.linkedin.com/in/michael-rideout-199b0412/">Linkedin</a><br /></p>
<br>
<h2 id="projects">Projects</h2>

<p><a href="http://sublearning.com">Sublearning.com</a> - A site to aid language learning using movie subtitles. 62 languages available.<br>
<a href="https://nswtag.mywire.org/)">NSWTAG Case Law</a> - NSW Case Law specific to NSW Trustee and Guardian, summarised using AI<br>
<a href="https://backproplabs.cc">Backproplabs</a> - Software consultancy<br>
<a href="https://researchlit.com"></a>ResearchLit - Understand the science, discover the code
</p><br>

<h2>Posts</h2>
{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
{% for yearMonth in postsByYearMonth %}
  <h2>{{ yearMonth.name }}</h2>
  <ul>
    {% for post in yearMonth.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
